<!DOCTYPE html>
<%= render 'layouts/shim' %>

<html lang="en-US">
  <!--<![endif]-->
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body class="home blog custom-background single-author one-column content">
  	<div id="page" class="hfeed">
  	  <%= render 'layouts/header' %>
  	  <div id="main">
  	  	<div id="primary">
  	  	  <div id="content" role="main">
  	  		<article class="page" id="page-1">
  	  		  <header class="entry-header">
  	  		  	<h1 class="entry-title">Home</h1>
  	  		  </header>
  	  		  <div class="entry-content">
  	  		  	<p align="center">
		  	      WE HELP FAST-GROWING, INNOVATIVE <strong>STARTUPS</strong>,<br />
		  	      FIND THE HIGHLY MOTIVATED AND <strong>RIDICULOUSLY TALENTED PEOPLE</strong><br />
		  	      WHO MAKE THE DIFFERENCE BETWEEN FAILURE AND <strong>SUCCESS</strong>.
		  	    </p>
		  	  </div>
		    </article>
		    <article class="page" id="page-2">
		  	  <header class="entry-header">
		  	  	<h1 class="entry-title">About</h1>
		  	  </header>
		  	  <div class="entry-content">
		  	    <p>
		  	  	  StartupTAP is not a conventional recruiting agency. We stand behind the belief that talent is the magical ingredient that fuels innovative ideas and builds successful startups. A great idea can only go so far without the right mix of talented, driven people working vigorously toward the same goals. We don’t just provide resumes and candidates; we’ll be your Talent Acquisition Partners in crime, doing all the dirty work to find those rare gems, the people that have that unique blend of talent, drive and passion that will bring fresh energy, ability and ideas to your team. So, while you’re busy changing the world, let us be your Talent Acquisition Partners, it’s what we do best.
		  	    </p>
			    <p class="clear-contact" style="text-align: center;">
			      <p class="contact-person" style="text-align: center;">
			      	<span class="lightbox" id="about-daniel">
			      	  <strong>Daniel Tudo</strong>
			  	    </span><br />
				  Managing Partner<br />
				  Mobile: 310-873-8447<br />
				  Email: <a href="mailto:daniel@startuptap.com">daniel@startuptap.com</a><br />
				  <a href="http://www.linkedin.com/in/dtudo"> 
				  	<img alt="View Daniel Tudo's profile on LinkedIn" 
				  	src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" 
				  	width="160" height="33" border="0" />
				  </a>
				</p>
				<p class="contact-person" style="text-align: center;">
				  <span class="lightbox" id="about-noya">
				  	<strong>Noya Tong</strong>
				  </span><br />
				  Managing Partner<br />
				  Mobile: 949-394-2121<br />
				  Email: <a href="mailto:noya@startuptap.com">noya@startuptap.com</a><br />
				  <a href="http://www.linkedin.com/in/ntong">
				  	<img alt="View Noya  Tong's profile on LinkedIn"
				  	src="http://www.linkedin.com/img/webpromo/btn_myprofile_160x33.png" 
				  	width="160" height="33" border="0" />
				  </a>
				</p>
				<p class="clear-contact" style="text-align: center;">
				  <p><div class="backdrop"></div><br />
				  <div class="box" id="about-daniel">
  				    <div class="close">x</div>
  					  <p>
  					  	Daniel gets things done.  Before starting Startup TAP, he worked under the direction of Todd Gitlin of Safire Partners, where he learned to sweat the small stuff as much as the big.  He approaches every client’s business as if it were his own, with the tenacity of an entrepreneur and an intense focus on getting the job done.  Work with him and you’ll most likely receive 3 a.m. emails solving your latest recruiting conundrums; when (or if) he actually sleeps, no one knows for sure.
  					    </br></br>
						He is a people person. Brogrammers to Fashionistas. Web Entrepreneurs to Accountants. Brain Scientists to Fighter Pilots. He has a keen understanding of both the client’s needs and the candidate’s requirements, and strives to accommodate both. Daniel makes the connections work.
						</br></br>
						He was once considered the “nicest guy in recruiting” but is currently ranked #13.  When he's not working, Daniel can be found...oh, who are we kidding? He's probably emailing you right now.
						<br />
					  </p>
					</div>
				  <div class="box" id="about-noya">
  					<div class="close">x</div>
  					  <p>
  					  	A founding partner of StartupTAP, Noya has a genuine approach to everything he does and has an amazing knack for bringing order to chaos.  When Plan A fails, he can talk everyone off of the proverbial ledge and at the same time develop Recruiting Solutions Plan B, C and D. 
  					  	</br></br>
						He combines his technical expertise with strategic sensibilities, resulting in a “freakishly smart” strategist, who is the kind of guy you want to go to battle with.
						</br></br>
						Years of experience with clients from all industries, Noya knows that clients need more than just another business partner, they need someone in the lifeboat with them, someone who believes that they have a stake in your success too.
						</br></br>
						If he had a dollar for every time he heard the phrase "Can You Look At My Resume?" he wouldn’t be able to retire, but he could buy a few rounds at the bar.
					  </p>
					</div>
				  </p>
				</div>
			</article>
			<article class="page" id="page-3">
			  <header class="entry-header">
			  	<h1 class="entry-title">Services</header></h1>
			  	<div class="entry-content">
			  	  <h3><strong>HUNT FOR TALENT</strong></h3>
				  <p>
					Your company can’t grow without talent and we all know that good talent is hard to find. Let us hunt for the proverbial “rock stars” ninjas, gurus, A-players and rare gems even if those individuals aren’t actively seeking a job. We bring the right opportunities in front of the right people. We have an extensive network and we can leverage it.
				  </p>
				  <h3><strong>FIND TALENT THAT FITS</strong></h3>
				  <p>
				  	We don’t just tackle the qualifications… we look beyond a candidate’s prestigious education and big name experience and recruit based on what makes sense for your company. By focusing on cultural fit versus resume strength, we’ll find you more than just top talent; we’ll secure you long-term, passionate people all working vigorously towards the same goal.
				  </p>
				  <h3><strong>TAILORED TALENT ACQUISITION SOLUTIONS</strong></h3>
				  <p>
				  	We believe the best way to understand your company’s needs, is to be in the trenches right there with you. We’ll provide onsite support and work directly with your hiring managers to be your talent acquisition partners. We’ll create a tailored recruiting solution for your company, helping every step of the way, from drafting effective position specs to providing interviewing assistance.
				  </p>
				  <h3><strong>THE NITTY GRITTY GRUNT WORK</strong></h3>
				  <p>
				  	Job postings, sourcing talent, screening candidates, negotiating offers, background checks, personality assessments, scheduling… we know you don’t have time for it… you’re too busy creating the next BIG thing! Let us handle the grunt work… it’s our specialty.
				  </p>
				</div>
			</article>
			<article class="page" id="page-4">
			  <header class="entry-header">
			  	<h1 class="entry-title">Contact
			  </header></h1>
			  <div class="entry-content">
			  	<p>
			  	  Looking for Talent?<br />
				  Just want to say Hello?<br />
				  Send us a message using the contact form or email us at 
				  <a href="mailto:hello@startuptap.com">hello@startuptap.com</a><br />
				  We never turn down a new introduction!
				</p>
				<form action="/" class="iwacontact" method="post">
				  <ol class="iwacontactform">
				  	<li><label for="name">Name</label>
				  	  <input type="text" name="name" id="name" value="" class="input required-field" />
				  	</li>
				  	<li><label for="email">Email</label>
				  	  <input type="text" name="email" id="email" value="" class="input required-field validate-email" />
				  	</li>
				  	<li><label for="message">Message</label>
				  	  <textarea name="message" id="message" rows="10" cols="50" class="required-field validate-none">
				  	  </textarea>
				  	</li>
				  	<li class="buttons">
				  	  <input type="hidden" name="iwac_submitted" value="true" />
				  	  <button class="ajax-submit" type="submit" name="iwac_submit" ><span>Send Mail</span></button>
				  	  <span class='ajax-result' ></span>
				  	  <input type="text" class="iwac_abval" name="iwac_abval" />
				  	  <input type="text" class="iwac_abval" name="iwac_abval_two" />
				  	  <input type="hidden" name="iwac_adminajax" value="http://startuptap.com/wp-admin/admin-ajax.php">
				  	  <input type='hidden' name='iwac_form_id' value='316' />
				  	  <input type='hidden' name='iwac_no_js' value='1' />
				  	  <input type='hidden' name='action' value='iwajax_submit' />
				  	  <img class="ajax-loading" src="http://startuptap.com/wp-content/plugins/ajax-contact/images/ajax-loading.gif" alt="Loading ..." height="20" width="20" />
				  	</li>
				  </ol><!-- .form --></form><!-- #contactform -->
				  <p class="contact-type" style="text-align: left;">
				  	<strong>General Inquiries/Questions:</strong> 
				  	<a href="mailto: info@startuptap.com">info@startuptap.com</a><br />
				  	<strong>Potential Candidates:</strong> 
				  	<a style="text-align: center;" href="mailto: careers@startuptap.com">careers@startuptap.com</a>
				  </p>
				</form>
			  </div>
			</article>
			<!-- AJAX Contact Form -->
		  </div><!-- #content -->
		</div><!-- #primary -->
	  </div><!-- #main -->
	  <%= render 'layouts/footer' %>
	</div><!-- #page -->
  </body>
</html>