<header id="branding" role="banner">
  <div class="wrapper">
    <hgroup>
	  <h1 id="site-title"><span><a href="http://startuptap.com/" title="StartupTAP" rel="home">StartupTAP</a></span></h1>
	  <h2 id="site-description">talent acquisition partners</h2>
	</hgroup>
	<nav id="access" role="navigation">
	  <h3 class="assistive-text">Main menu</h3>
	  <div class="skip-link">
	  	<a class="assistive-text" href="#content" title="Skip to primary content">Skip to primary content</a>
	  </div>
	  <div class="skip-link">
	  	<a class="assistive-text" href="#secondary" title="Skip to secondary content">Skip to secondary content</a>
	  </div>
	  <div class="menu-startuptap-single-container">
	  	<ul id="menu-startuptap-single" class="menu">
	  	  <li id="menu-item-289" class="home menu-item menu-item-type-custom menu-item-object-custom menu-item-289">
	  		<a href="#page-1">Home</a>
	  	  </li>
		  <li id="menu-item-296" class="about menu-item menu-item-type-custom menu-item-object-custom menu-item-296">
			<a href="#page-2">About</a>
		  </li>
		  <li id="menu-item-297" class="services menu-item menu-item-type-custom menu-item-object-custom menu-item-297">
		  	<a href="#page-3">Services</a>
		  </li>
		  <li id="menu-item-298" class="contact menu-item menu-item-type-custom menu-item-object-custom menu-item-298">
		  	<a href="#page-4">Contact</a>
		  </li>
		</ul>
	  </div>
	</nav><!-- #access -->			
  </div><!-- .wrapper -->
</header><!-- #branding -->